name: Nifty Scanner

on:
  schedule:
    # Runs every 5 minutes (Note: GitHub delays may vary slightly)
    - cron: '*/5 * * * *'
  workflow_dispatch: # Allows you to run it manually to test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install libraries
        run: pip install -r requirements.txt

      - name: Run Scanner
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python main.py